<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.akl.bluetoothscreamer">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.android.akl.bluetoothscreamer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.android.akl.bluetoothscreamer.DisconnectionReciever">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.akl.bluetoothscreamer.NewPairedDeviceReveiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.akl.bluetoothscreamer.UnpairedDeviceReciever">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.android.akl.bluetoothscreamer.ShowNewPairedDeviceDialog"/>

        <activity
            android:name="com.android.akl.bluetoothscreamer.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="com.android.akl.bluetoothscreamer.DisconnectionActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <receiver android:name="com.android.akl.bluetoothscreamer.NotificationIntentReceiver"/>
    </application>

</manifest>